body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-weight: 200;
  font-size: 50px;
}

.link {
  color: aquamarine;
  font-size: 16px;
}
